@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mx-auto px-5">
    <section class="flex-col md:flex-row flex items-center md:justify-between mt-16 mb-16 md:mb-12">
        <h1 class="text-6xl md:text-8xl font-bold tracking-tighter leading-tight md:pr-8">Sentiment GPT</h1>
    </section>
</div>

<div class="container mx-auto px-5">
    <div class="flex justify-between items-center">
        <div id="audio-recorder-component" class="mr-4 w-full"></div>
    </div>
</div>


<script type="module">
import { mount } from "/mjs/app.mjs"
import AudioRecorderComponent from "/mjs/components/SentimentAudio.mjs"

mount('#audio-recorder-component', AudioRecorderComponent)
</script>
